In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
import os

In [30]:
DATA_PATH = f'{os.getcwd()}/names/'

In [31]:
DATA_PATH

'C:\\Users\\annae\\Python\\Les20/names/'

In [186]:
def count_top3(years):
    cols = ['Name','Gender','Count']
    
    if len(years) == 1:
        names = pd.read_csv(DATA_PATH + 'yob'+ str(years[0]) +'.txt', names=cols)
        return names.sort_values(by='Count', ascending=False).head(3)
    
    left = pd.read_csv(DATA_PATH + 'yob'+ str(years[0]) +'.txt', names=cols)
    i = 1
    while i < len(years):
        right = pd.read_csv(DATA_PATH + 'yob'+ str(years[1]) +'.txt', names=cols)
        names = pd.merge(
            left, right,
            on=['Name', 'Gender']
        )
        left.Count = names.Count_x + names.Count_y
        i += 1
    return left.sort_values(by='Count', ascending=False).head(3)
        
count_top3([1880])

        Name Gender  Count
942     John      M   9655
943  William      M   9532
0       Mary      F   7065

In [187]:
count_top3([1900, 1950, 2000])

         Name Gender     Count
292     Linda      F  161004.0
0        Mary      F  147676.0
360  Patricia      F   95984.0

In [189]:
def count_dynamics(years):
    dinam = {}
    dinam['F'] = []
    dinam['M'] = []
    i = 0
    while i < len(years):
        names = pd.read_csv(DATA_PATH + 'yob'+ str(years[i]) +'.txt', names=['Name','Gender','Count'])
        dinam['F'].append(names[names.Gender=='F'].Name.count())
        dinam['M'].append(names[names.Gender=='M'].Name.count())
        i += 1
    return dinam

count_dynamics([1900, 1950, 2000])

{'F': [2224, 6113, 17653], 'M': [1506, 4192, 12111]}